
@{
    ViewBag.Title = "New";
}

@*<head >
        <script src="~/Scripts/script.js"></script>
    </head>*@

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    </nav>
    <h2>New Teacher</h2>
    <form onsubmit="formValidate()" method="POST" action="/Teacher/Create" name="formTeacher">
        <div>
            <label for="TeacherFname">First Name: </label>
            <input type="text" id="TeacherFname" name="TeacherFname" />
        </div>
        <div>
            <label for="TeacherLname">Last Name: </label>
            <input type="text" id="TeacherLname" name="TeacherLname" />
        </div>
        <div>
            <label for="EmployeeNumber">Employee Number: </label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
        </div>
        <div>
            <label for="Salary">Salary: </label>
            <input type="text" id="Salary" name="Salary" />
        </div>
        <div>
            <label for="HireDate">Hire Date: </label>
            <input type="datetime" id="HireDate" name="HireDate" placeholder="yyyy-mm-dd" />
        </div>
        <div>
            <input type="submit" value="Create Teacher" />
        </div>
    </form>

    <script>

        window.onload = function () {

            alert("it's working!");

            var formHandle = document.forms.formTeacher;

            formHandle.onsubmit = formValidate;

            function formValidate() {

                var fNameValue = formHandle.TeacherFname;
                var lNameValue = formHandle.TeacherLname;
                var employNumValue = formHandle.EmployeeNumber;
                var salaryValue = formHandle.Salary;
                var hireDateValue = formHandle.HireDate;
                var hireDateRegex = /^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))$/;


                if (fNameValue.value === "" && lNameValue.value === "" && employNumValue.value === "" && salaryValue.value === "" && hireDateValue.value === "") {
                    alert("enter all fields!");
                    return false;
                }

                if (fNameValue.value === "") {
                    fNameValue.style["background-color"] = "red";
                    fNameValue.focus();
                    return false;
                }
                if (lNameValue.value === "") {
                    lNameValue.style["background-color"] = "red";
                    lNameValue.focus();
                    return false;
                }
                if (employNumValue.value === "") {
                    employNumValue.style["background-color"] = "red";
                    employNumValue.focus();
                    return false;
                }
                if (salaryValue.value === "") {
                    salaryValue.style["background-color"] = "red";
                    salaryValue.focus();
                    return false;
                }
                if (hireDateValue.value === "") {
                    hireDateValue.style["background-color"] = "red";
                    hireDateValue.focus();
                    return false;
                }
                if (!hireDateRegex.test(hireDateValue.value)) {
                    alert("Please enter date in YYYY-MM-DD format.");
                    hireDateValue.style["background-color"] = "red";
                    hireDateValue.focus();
                    return false;
                }
                return true;
            }
        }
    </script>

</div>

             






