@model SchoolDb.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>Name: @Model.TeacherFname @Model.TeacherLname</h2>
    <div>Employee Number: @Model.EmployeeNumber</div> 
    <div>Salary: $@Model.Salary</div>
    <div style="font-style:italic;">Hire Date: @Model.HireDate.ToString("dd-MMM-yyyy")</div>
</div>


