@model IEnumerable<SchoolDb.Models.Course>

@{
    ViewBag.Title = "List";
}


<div id="containerlist">
    <nav>
        <a class="navlink" href="/Course/New">Add a Class</a>
    </nav>
    <h2>List of Classes</h2>

  
    <form action="/Course/List" method="GET">
        <input type="text" name="SearchKey" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var Course in Model)
    {


        <div class="listitem row">
            <div class="col-md-12"><a href="/Course/show/@Course.ClassId">@Course.ClassName</a></div>
        </div>

    }
</div>
